
.footer{
  background-color: #333;
}

.footer__contain{
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  color: #999;
  align-items: center;
}

.footer__list-links{
  flex-direction: column;
  gap: 10px;
}


.footer__desing{
  font-size: 24px;
}

.footer__desing:hover{
  color: #555;
}

.copyrite{
  flex-direction: column;
  gap: 10px;
}

.copyrite__title{
  font-size: 30px;
}

.copyrite__date{
  font-size: 30px;
}
