.modal {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 1000;
}

.modal.active {
    display: block;
}

.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.6);
}

.modal-window {
    position: fixed;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
    background: #fff;
    min-width: 300px;
    min-height: 400px;
    padding: 30px;
    border-radius: 16px;
}

.modal__left img{
    width: 250px;
}

.modal__right{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #555;
}

.modal-close:hover{
  color: #999;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.auth-btn {
    padding: 12px;
    background: transparent;
    border: 2px solid #2A6E71;
    color: #2A6E71;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-align: left;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.auth-btn:hover{
  color: #fff;
  background: #2a6d71fa;
}

.modal-switch span {
    color: #E76F51;
    cursor: pointer;
}